.App-header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-family: Inter, sans-serif;
    background-color: var(--main-white);
    height: 93px;
    max-width:  1440px;
 }

 .App-links {
    font-size: 14px;
    width: 300px;
    display: flex;
    position: absolute;
    margin-left: 550px;
 }

 .Logo {
    margin-left: 50px;
 }

 a {
    color: var(--main-black);
    text-decoration: none;
    margin: 0 auto;
 }
 
 .active {
    color: var(--main-green);
    cursor: default;
 }

 .App-login {
    margin-right: 50px;
 }