:root {
  --main-green: #029491;
  --main-black: #000;
  --main-white: #FFF;
  --ext-orange: #FFB64F;
  --ext-green: #7CE3E1;
  --ext-blue: #5970FF;
}

body {
  margin: 0;
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: auto;
}